.experiencias {
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    width: 70%;
}

.experiencias h1 {
    font-size: 2em;
}

.experiencias h1 strong {
    color: var(--laranja);
}

.experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-top: 2em;
}

.experiencia img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.experiencia-conteudo h1 {
    font-size: 1.5em;
}

.experiencia-conteudo h4 {
    margin: 1em 0 2em 0;
    font-size: .75em;
    color: var(--laranja);
}

.experiencia-conteudo p {
    margin-bottom: 2em;
    text-align: justify;
}

.experiencia-conteudo h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.linha {
    margin-bottom: 4em;
}

@media screen and (max-width: 1024px) {

    .experiencia {
        flex-direction: column;
        margin: 0;
    }

}